*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}
/*top*/
.barra-navegacion{
    background-color: black;
    color: #FFFFFF;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.sin-lista{
    list-style-type: none;
    display: flex;
    gap:15px ;
}
li a{
    text-decoration: none;
    color: #FFFFFF;
}
/*header*/
.encabezado{
    background-color: #F0A83E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}
.titulo-marron{
    color: #3C2313;
}
.logo{
    display: flex;
    align-items: center;
}
.menu-lista{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.menu-lista li{
    display: flex;
    align-items: center;
}
/*Agregar iconos con before*/
.menu-lista a::before{
    font: var(--fa-font-solid);
    content: '\f1b0';
}
/*Agregar hover a la lista de menu*/
.menu-lista a:hover{
    color: #3C2313;
}
/*main*/
.slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}
.slide-lista{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    text-align: center;
}
.boton{
    background-color: #F0A83E;
    padding: 15px 25px;
    border-radius: 5px;
}
/*agregar hover al boton comederos*/
.boton:hover{
    background-color: #3C2313;
}
.texto-recuadro{
    background-color: #FFFFFF;
    color: #3C2313;
    font-size: 30px;
    padding: 5px;
}
.Productos-destacados{
    text-align: center;
    margin-top: 40px;
}
h2{
    font-size: 30px;
    color: #3C2313;
}
.lista-categoria{
    display: flex;
    justify-content: center;
    gap: 15px;
    color: black;
    list-style: none;
    margin: 10px;
}
.lista-categoria a{
    color: #666666;
    text-decoration: none;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card{
    text-align: center;
    background-color: #FBFAF6;
}
.card-cabecera img{
    width: 100%;
    height: 200px;
    padding: 10px;
}
.card-cuerpo h3{
    color: #3C2313;
}
.card-cuerpo p{
    color: #F0A83E;
}
/*formulario*/
.contenedor-contacto{
    margin-top: 40px;
    padding: 30px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.contenedor-contacto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contenedor-contacto input{
    width: 350px;
    height: 45px;
    background-color: #3C2313;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
}
.contenedor-contacto input::placeholder{
    color: #FFFFFF;
}
/*Agregar hover a los inputs*/
.contenedor-contacto input:hover{
    background-color: #5e3f2f;
    border: 1px solid #F0A83E;
}
/*focus*/
.contenedor-contacto input:focus{
    background-color: #5e3f2f;
    border: 1px solid #F0A83E;
}
button{
    width: 115px;
    height: 35px;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    font-size: 19px;
}
.boton-formulario{
    background-color: #8A8787;
}
/*Agregar hover a los botones*/
.boton-formulario:hover{
    background-color: #F0A83E;
}
/*suscripcion*/
.suscripcion{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-top: 55px;
}
.titulo-suscripcion{
    display: flex;
    align-items: center;
    gap: 10px;
}
form{
    display: flex;
    align-items: center;
    gap: 10px;
}
.titulo-suscripcion p{
    font-size: 20px;
    color: #FFFFFF;
}
.inscripcion input{
    background-color: #FFFFFF;
    width: 270px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
}
/*Agregar hover y focus*/
.inscripcion input:hover, 
.inscripcion input:focus{
   border: 1px solid #3C2313;
   outline: none; /*saca el borde que viene por defecto*/
}
.inscripcion button{
    background-color:#3C2313;
    color: #FFFFFF;
    font-size: 10px;
    width: 75px;
    height: 34px;
}
/*agregar hover al boton inscripcion*/
.inscripcion button:hover{
    background-color:#5e3f2f;
}
/*footer*/
.fondo{
    background-color: #222222;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}
.contenedor-footer{
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}
.contenedor-iconos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.icono{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icono i{
    font-size: 35px;
    background-color: #9493933e;
    color: #a19e9e;
    border: 1px solid white;
    border-radius: 45px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titulo-principal{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}
.titulo-secundario{
    color: #8A8787;
    font-size: 10px;
}
.titulo-blanco{
    color: #FFFFFF;
}
.titulo-amarillo{
    color: #F0A83E;
}
@media (max-width:580px){
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .slide{
        display: flex;
        flex-direction: column;
        height: 440px;
        justify-content: center;
        align-items: center;
        background-position: 0px -75px;
    }
    .slide-lista{
        text-align: right;
    }
    .Productos-destacados{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .Productos-destacados img{
        width: 90px;
        height: 83px;
    }
    .Productos-destacados h2{
        font-size: 40px;
    }
   .contenedor-tarjetas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin:40px;
    }
    .contenedor-contacto h2{
        font-size: 40px;
    }
    .campos input{
        width: 298px;
        height: 40px;
    }
    .botones-form{
        display: flex;
        text-align: center;
        margin: 30px 10px;
        gap: 5px;
    }
    .boton-formulario{
        width: 180px;
        height: 40px;
        border-radius: 25px;
    }
    .suscripcion{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        margin: 0;
    }
    .titulo-suscripcion{
        font-size: 20px;
        gap: 20px;
    }
    .inscripcion{
        width: 300px;
        height: 40px;
        margin: 5px 15px;
    }
    .inscripcion button{
       width: 100px;
        font-size: 16px;
        padding: 5px;
    }
    .contenedor-footer{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        padding: 20px 15px;
    }
    .encabezado{
        padding: 14px 10px;
    }
    .logo h1{
        font-size: 16px;
    }
    .menu-lista li{
        font-size: 10px;
    }
    .menu-lista{
        gap: 5px;
    }
}