*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}
/*top*/
.barra-navegacion{
    background-color: black;
    color: #FFFFFF;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.sin-lista{
    list-style-type: none;
    display: flex;
    gap:15px ;
}
li a{
    text-decoration: none;
    color: #FFFFFF;
}
/*header*/
.encabezado{
    background-color: #F0A83E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.titulo-marron{
    color: #3C2313;
}
.logo{
    display: flex;
    align-items: center;
}
.menu-lista{
    display: flex;
    list-style-type: none;
    gap: 8px;
}
.menu-lista li{
    display: flex;
    align-items: center;
}
/*main*/
.slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}
.slide-lista{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    text-align: center;
}
.boton{
    background-color: #F0A83E;
    padding: 15px 25px;
    border-radius: 5px;
}
.texto-recuadro{
    background-color: #FFFFFF;
    color: #3C2313;
    font-size: 30px;
    padding: 5px;
}
.Productos-destacados{
    text-align: center;
    margin-top: 40px;
}
h2{
    font-size: 30px;
    color: #3C2313;
}
.lista-categoria{
    display: flex;
    justify-content: center;
    gap: 15px;
    color: black;
    list-style: none;
    margin: 10px;
}
.lista-categoria a{
    color: #666666;
    text-decoration: none;
}