*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}
/*top*/
.barra-navegacion{
    background-color: black;
    color: #FFFFFF;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.sin-lista{
    list-style-type: none;
    display: flex;
    gap:15px ;
}
li a{
    text-decoration: none;
    color: #FFFFFF;
}
/*header*/
.encabezado{
    background-color: #F0A83E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.titulo-marron{
    color: #3C2313;
}
.logo{
    display: flex;
    align-items: center;
}
.menu-lista{
    display: flex;
    list-style-type: none;
    gap: 8px;
}
.menu-lista li{
    display: flex;
    align-items: center;
}
/*main*/
.slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}
.slide-lista{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    text-align: center;
}
.boton{
    background-color: #F0A83E;
    padding: 15px 25px;
    border-radius: 5px;
}
.texto-recuadro{
    background-color: #FFFFFF;
    color: #3C2313;
    font-size: 30px;
    padding: 5px;
}
.Productos-destacados{
    text-align: center;
    margin-top: 40px;
}
h2{
    font-size: 30px;
    color: #3C2313;
}
.lista-categoria{
    display: flex;
    justify-content: center;
    gap: 15px;
    color: black;
    list-style: none;
    margin: 10px;
}
.lista-categoria a{
    color: #666666;
    text-decoration: none;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card{
    text-align: center;
    background-color: #FBFAF6;
}
.card-cabecera img{
    width: 100%;
    height: 200px;
    padding: 10px;
}
.card-cuerpo h3{
    color: #3C2313;
}
.card-cuerpo p{
    color: #F0A83E;
}
/*formulario*/
.contenedor-contacto{
    margin-top: 40px;
    padding: 10px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.contenedor-contacto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contenedor-contacto input{
    width: 350px;
    height: 45px;
    background-color: #3C2313;
    border-radius: 22px;
    border: none;
}
.campos{
    display: flex;
    flex-direction: column;
}
button{
    width: 115px;
    height: 35px;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    font-size: 19px;
}
.boton-resetear{
    background-color: #8A8787;
}
.boton-enviar{
    background-color: #F0A83E;
}
.suscripcion{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-top: 55px;
}
.titulo-suscripcion{
    display: flex;
    align-items: center;
    gap: 10px;
}
form{
    display: flex;
    align-items: center;
    gap: 10px;
}
.titulo-suscripcion p{
    font-size: 20px;
    color: #FFFFFF;
}
.inscripccion input{
    background-color: #FFFFFF;
    width: 270px;
    height: 40px;
    border-radius: 15px;
    border: none;
}
.inscripccion button{
    background-color: #3C2313;
    font-size: 10px;
    width: 75px;
    height: 34px;
}
/*footer*/
.fondo{
    background-color: #222222;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.contenedor-footer{
    background-color: #3C2313;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.localidad{
    display: flex;
    align-items: center;
    gap: 10px;
}
.localidad i{
    font-size: 30px;
    background-color: #9493933e;
    color: #a19e9e;
    border: 1px solid white;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titulo-principal{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}
.titulo-secundario{
    color: #8A8787;
    font-size: 10px;
}
.telefono{
    display: flex;
    align-items: center;
    gap: 10px;
}
.telefono i{
     font-size: 30px;
    background-color: #9493933e;
    color: #a19e9e;
    border: 1px solid white;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}